<div>
    <h2 class="tituloCategoria">{{videoclub[idCategoria].categoria | uppercase}}</h2>
    <div *ngFor="let video of videoclub[idCategoria].videos;index as f">                 <!--índice array videos = video f -->
        <div class="video">
            <div (click)="detalles(f)"><img class="portada" src="{{video.portada}}"></div>
            <div class="datos">
                <div class="titulo">{{video.titulo}}</div>
                <div>{{video.anio}}</div>
                <div *ngIf="video.cartelera==true">
                    EN CARTELERA
                </div>
                <div *ngIf="video.cartelera==false">
                    PROXIMAMENTE EN CINES
                </div>
                <div (click)="setFavorito(f)">
                    <img [ngClass]="{'fav': video.favorito}" class="cora" src="assets/imagenes/corazon.png" title="Haga click para añadir o quitar de favoritos">
                    <!--Foto corazón-->
                </div>
            </div>
        </div>
    </div>
    <button (click)="volver()" class="boton">Volver</button>
</div>