.tituloCategoria {
    text-align: center;
    width: 300px;
    background-color: crimson;
    color: white;
    margin: auto;
    margin-top: 50px;
}
.boton {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom:15px;
}
.video {
    display: flex;
    padding: 7px;
    background-color: bisque;
    margin: 20px;
    font-family: sans-serif;
}
.datos {
    flex-direction: column;
    padding: 10px;
}
.portada {
    width: 150px;
    height: 220px;
    padding: 10px;
    color: black;
    cursor: pointer;
}
.titulo {
    font-weight: bold;
}
.cora {
    width: 30px;
    height: 25px;
    margin-top: 18px;
    cursor: pointer;
}
.fav {
    background-color: red;
}
.fotos{
    margin-top:20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.caja{
    width:75%;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 40px;
    margin-top:50px;margin: auto;
    border-radius: 65%;
}
.muestra{
    margin:auto;
    margin-top: 20px;
    text-align: center;
    width:400px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgaleatorio{
    width: 55%;
    border:2px white solid;
}
.aleatorio{
   width: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   color:white;
}